<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интернет Кинотеатр</title>
    <link rel="stylesheet" href="../css/header_and_footer/menu.css">
    <link rel="stylesheet" href="../css/film_and_film_detail/cards.css">
    <link rel="stylesheet" href="../css/header_and_footer/footer.css">
    <link rel="stylesheet" href="../css/tags/all_products.css">
</head>
<body>

<!-- Меню -->
<header>
    <nav class="menu">
        <ul>
            <li><a href="../index.html">Главная</a></li>
            <li><a href="../tags/all_products.html">Хэштеги</a></li>
            <li><a href="../films/films.html">Фильмы</a></li>
            <li><a href="#">Другие фильмы</a></li>
            <li><a href="#">Регистрация</a></li>
            <!-- Форма поиска -->
            <li class="search">
                <form>
                    <input type="text" placeholder="Поиск...">
                    <button type="submit">Поиск</button>
                </form>
            </li>
        </ul>
    </nav>
</header>


<!-- Карточки всех тэгов -->
<section class="cards">


<div class="card">
        <h2>Список всех продуктов для кино</h2>

        <ul class="product-list">
          <!-- цикл тут открытие -->
            <li>Яблоки</li>
        </ul>


          <div class="buttons">
            <a href="meals.html" class="btn">Еда</a>
            <a href="drinks.html" class="btn">Напитки</a>
        </div>
    </div>

<!-- цикл тут закрытие -->


</section>


<!-- Футер -->
<footer>
    <p>&copy; 2025 Интернет Кинотеатр | Все права защищены</p>
    <ul>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Политика конфиденциальности</a></li>
    </ul>
</footer>


</body>
</html>
