/* Футер */
html, body {
    height: 100%; /* Обеспечиваем, что страницы будут занимать всю высоту */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* Контейнер контента, чтобы он занимал доступное пространство */
.content-wrapper {
    flex: 1; /* Контент занимает всю оставшуюся высоту */
}

/* Футер */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Это гарантирует, что футер будет внизу */
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin: 0 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer p {
    margin: 10px 0;
    font-size: 14px;
}
