  <header>
        <nav class="menu">
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="tags/all_products.html">Хэштеги</a></li>
                <li><a href="{% url 'films:film_list' %}">Фильмы</a></li>
                <li><a href="parser_films/parser_film_list.html">Другие фильмы</a></li>
                <li><a href="parser_films/parser_form.html">Парсинг</a></li>
                <li><a href="users/register.html">Регистрация</a></li>
                <li><a href="users/login.html">Войти</a></li>
                <!-- Форма поиска -->
                <li class="search">
                    <form>
                        <input type="text" placeholder="Поиск...">
                        <button type="submit">Поиск</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>