  <header>
    <nav class="menu">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="tags/all_products.html">Хэштеги</a></li>
            <li><a href="{% url 'films:film_list' %}">Фильмы</a></li>
            <li><a href="parser_films/parser_film_list.html">Другие фильмы</a></li>
            <li><a href="parser_films/parser_form.html">Парсинг</a></li>
            <li><a href="{% url 'users:register' %}">Регистрация</a></li>
            <li><a href="{% url 'users:login' %}">Войти</a></li>
            <li><a href="{% url 'recipes:recipe_list' %}">Рецепты</a></li>
            <!-- Форма поиска -->
            <li class="search">
                <form method="get" action="{% url 'films:film_search' %}">
                    <input type="text" name="q" placeholder="Поиск...">
                    <button type="submit">Поиск</button>
                </form>
            </li>
        </ul>
    </nav>
</header>