<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интернет Кинотеатр</title>
    <link rel="stylesheet" href="../css/header_and_footer/menu.css">
    <link rel="stylesheet" href="../css/film_and_film_detail/cards.css">
    <link rel="stylesheet" href="../css/header_and_footer/footer.css">
    <link rel="stylesheet" href="../css/main_page/hello.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- Меню -->
    <header>
        <nav class="menu">
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="tags/all_products.html">Хэштеги</a></li>
                <li><a href="films/films.html">Фильмы</a></li>
                <li>
                    <a href="parser_films/parser_film_list.html">Другие фильмы</a>
                    <a href="parser_films/parser_film_list.html">Парсинг</a>
                </li>
                <li>
                    <a href="users/register.html">Регистрация</a>
                    <a href="users/login.html">Авторизация</a>
                </li>
                <!-- Форма поиска -->
                <li class="search">
                    <form>
                        <input type="text" placeholder="Поиск...">
                        <button type="submit">Поиск</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>


<!-- Карточка регистрации-->
<div class="w-full max-w-md bg-gray-800 p-6 rounded-lg shadow-lg text-white mx-auto mt-10">
        <h1 class="text-2xl font-bold text-center mb-4">Авторизация</h1>
        <div>
            <form method="POST" class="space-y-4">
                <div class="space-y-2">
                    <!-- тут код csrf -->
                </div>
                <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700">Авторизация</button>
            </form>
        </div>
    </div>

<!-- Футер -->
<footer>
    <p>&copy; 2025 Интернет Кинотеатр | Все права защищены</p>
    <ul>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Политика конфиденциальности</a></li>
    </ul>
</footer>


</body>
</html>
