{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/header_and_footer/menu.css' %}">
</head>
<body>
    {% include 'components/header.html' %}
    <div class="form-container">
        <h2>Регистрация</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Зарегистрироваться</button>
        </form>
        <p>Уже есть аккаунт? <a href="{% url 'users:login' %}">Войти</a></p>
    </div>
</body>
</html>
