{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link rel="stylesheet" href="{% static 'css/header_and_footer/menu.css' %}">
</head>
<body>
    {% include 'components/header.html' %}
    <div class="user-list">
        <h2>Список пользователей</h2>
        <ul>
            {% for user in users %}
                <li>
                    {{ user.username }} — {{ user.email }}
                </li>
            {% empty %}
                <li>Пользователей нет.</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
